body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clicker {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}

.clicker h1 {
  font-size: 50px;
}

.clicker button {
  font-size: 50px;
  width: 50px;
  /* height: 50px; */
}